.eventContainer {
  display: grid;
  grid-template-columns: 90px auto;
}

.eventPicture {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  max-height: 80px;
  overflow: hidden;

  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: #ff733c;
}

.eventTime {
  text-align: right;
  padding-right: 12px;
  padding-top: 10px;

  font-family: "brico-condensed", sans-serif;
  font-size: 3.2rem;
  text-align: right;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 90.6;
}

.eventDescription {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 30px;

  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: #ff733c;
}

.tinyLabel {
  font-size: 10px;
}

ion-button.md.btn-circle,
ion-button.ios.btn-circle {
  --background: rgba(255, 255, 255, 0.8);
  --background-hover: var(--sf-primary-color);
  --background-activated: var(--sf-primary-color);
  --background-focused: var(--sf-primary-color);

  --color: var(--sf-primary-color);
  --color-hover: white;
  --color-activated: white;
  --color-focused: white;

  --border-radius: 50%;
  --border-color: #000;
  --border-style: solid;
  --border-width: 0px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: deeppink;

  --padding-top: 5px;
  --padding-bottom: 5px;
  height: 45px;
  width: 45px;
}

ion-button.link,
ion-button.link:focus,
ion-button.link:hover {
  --background: rgba(0, 0, 0, 0);
}

ion-item-group {
  margin-bottom: 30px;
}

ion-item-divider {
  --background: var(--sf-primary-color);
  --color: white;
  font-size: 1.5rem;
}

ion-segment {
  margin-top: var(--safe-area-inset-top, 0);
  --background: black;
}

ion-segment-button {
  --indicator-color: var(--sf-primary-color);
}

/* Material Design styles */
ion-segment-button.md {
  --color: var(--sf-primary-color);

  --color-checked: var(--sf-primary-color);
  --indicator-height: 4px;
}

/* iOS styles */
ion-segment-button.ios {
  --color: var(--sf-primary-color);
  --color-checked: #fff;
  --background-checked: #000;
}

ion-segment-view {
  margin-top: 10px;
}

.text-sm {
  font-size: 0.7em;
}

.ios.ion-activatable,
.md.ion-activatable,
.ios.ion-activated,
.md.ion-activated {
  --background: transparent;
}

ion-list,
ion-list.list-md,
ion-list.list-ios {
  margin-bottom: 100px;
}

.description-content {
  height: 70px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -moz-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
  overflow: hidden;
}
