/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@font-face {
  font-family: "brico-normal";
  src: url("../assets/fonts/brico-normal.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "brico-condensed";
  src: url("../assets/fonts/brico-condensed.woff2");
  font-weight: 200;
  font-style: normal;
}

:root,
:root[mode="ios"],
:root[mode="md"] {
  --ion-font-family: "brico-normal", sans-serif !important;
  font-family: "brico-normal", sans-serif !important;
  font-size: 0.9rem;

  --ion-background: black;
  --ion-background-color: black;

  --ion-item-background: transparent;

  --ion-color: white;
  --ion-text-color: white;

  --sf-primary-color: #ff733c;
  --background-checked: var(--sf-primary-color);
}

:host {
}

h1,
h2,
h3,
h4 {
  margin: 0px;
  margin-bottom: 4px;
  padding: 0px;
}

h1 {
  font-size: 3.6rem;
  text-align: center;
  margin-top: 30px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

a,
a:hover {
  color: white;
  text-decoration: none;
}

a.color {
  color: var(--sf-primary-color);
  text-decoration: underline;
}
